<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=BF-201901051424\SQLEXPRESS;Database=bookmanage;Integrated Security=True;"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
 
    <compilation debug="true" targetFramework="4.0"/>

    <authentication mode="Windows"/>
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>